body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	h1 {
		color: rgb(240, 211, 131);
	}

	.books {

		.book {
			background-color: #222;
			margin-bottom: 1rem;
			padding: 1rem;
			max-width: 32rem;
			display: flex;
			align-items: flex-start;
			gap: 1rem;

			img {
				width: 7rem;
				object-fit: contain;
			}

			.info {
				.title {
					color: rgb(235, 179, 76);
					font-size: 1.3rem;
					margin-bottom: .5rem;
				}
			}
		}

	}
}